.header
    text-align: right
    &-logo
        margin-top: 15px
        display: inline-block
        width: 100px
        transform: translateX(-175px)
        &__img
            width: 200px
            position: relative
    &-menu
        display: inline-block
        vertical-align: top
        li
            display: inline
            margin-left: 5px
        &__link
            color: #fff
            text-transform: uppercase
            text-decoration: none
            font-size: 16px
    &-descr
        display: inline-block
        position: relative
        transform: translateY(-80px)
        color: #FF6F61
    &-date
        text-transform: uppercase
        display: block
        font-size: 22px
        font-family: 'Playfair Display Bold'
        font-weight: 600
        margin-bottom: 10px
    &-tel
        margin-top: 10px
        display: inline
        &__link
            color: #FF6F61
            font-size: 20px
            text-decoration: none
    &-btn
        background-color: #FF6F61
        border: none
        text-transform: uppercase
        font-size: 17px
        font-weight: 600
        font-family: 'Playfair Display Bold'
        margin-top: 80px
        cursor: pointer
        outline: none
        padding: 5px
        display: block
    &-contacts
        text-align: start
.contacts-link
    display: inline-block
    text-transform: uppercase
    color: #ffffff
    margin-top: 16px
    text-decoration: none
    margin-left: 14px