#modal
    min-height: 90vh
    width: 90vw
    background-color: rgba(0, 0, 0, .9)
    position: absolute
    left: 50% 
    top: 50%
    // z-index: 1000
    transform: translateX(-50%) translateY(-50%)
    display: none
    padding: 20px
    border: solid 1.5px #fff        
#close
    width: 30px
    position: relative
    left: 97%
    cursor: pointer
.modal
    &-img
        width: 80%
        display: block
        margin: auto
    &-block
        display: none
    &-form
        &__wrap
            text-align: center
            width: 100%
        &__input
            border: none
            background-color: rgba(0, 0, 0, 0)
            border-bottom: 1px solid #fff
            outline: none
            color: #fff
            display: block
            margin: auto
            margin-bottom: 20px
            width: 30%
    &-contacts
        &__link
            color: #ffffff
            font-size: 20px
            margin-bottom: 10px
@media (max-width: 992px)
    .modal
        &-img
            display: none
@media (max-width: 576px)
    #close
        left: 95%
    .modal-form__input
        width: 90%
#shim 
    /* фиксируем, растягиваем на весь доступный экран */
    position: fixed
    bottom: 0
    left: 0 
    top: 0 
    right: 0
    z-index: 900
    display: none
    overflow: auto
    /* однопальцевый скролл для iPad*/
    -webkit-overflow-scrolling: touch
/* фикс для странностей в iPad */
#shim > * 
    // -webkit-transform: translateZ(0px)
/* декоративная часть ширмы: делаем полупрозрачной и чёрной */
#shim 
    background: rgba(0,0,0,0.5)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)
     /* IE6–IE8 */
    zoom: 1
