@import "header"
@import "main"
@import "features"
    
body
    background-color: #000
    font-family: 'Playfair Display', 'Open Sans'
    color: #fff
    margin: 0
    font-weight: 600
.bordered
    border-left: solid #fff 1px
.no-pad
    padding-left: 0px !important
p
    margin-bottom: 50px