@import "header"
@import "main"
    
body
    background-color: #000
    font-family: 'Playfair Display', 'Open Sans'
    color: #fff
    margin: 0
.bordered
    border-left: solid #fff 1px
.no-pad
    padding-left: 1.2px !important